@font-face {
     font-family: Libre;
     src: url(../fonts/LibreFranklin-Medium.ttf);
 }
 @font-face {
     font-family: Arabota;
     src: url(../fonts/Araboto_Medium_400.ttf);
 }
 @font-face {
     font-family: Poppins;
     src: url(../fonts/Poppins-Medium.ttf);
 }